body{
    margin: 0;
    font-family: "freight-sans-pro";
    font-size: 18px;
}
.post{
    cursor: pointer;
    position: relative;
    display: block;
}
.post-list{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px));
    justify-content: center;
    grid-gap: 28px;
}
.post-image{
    margin: 0;
}
.post-image img {
    width: 100%;
    vertical-align: top;
}
.post-overlay{
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.post:hover .post-overlay {
    display: flex;
}

.post-likes,
.post-comments {
    width: 40px;
    margin: 0px;
    font-weight: 400;
    text-align: center;
    display: inline-block;
}
.post-likes i,
.post-comments i{
    font-size: 1.3em;
}

@media screen and (max-width: 768px) {
    .post-list{
        grid-gap: 3px;
    }
    .post-likes,
    .post-comments{
        font-size: .8em;
        width: 30px;
    }
    .post-likes i,
    .post-comments i{
        font-size: .8em;
    }
}