body {
    font-family: Arial;
  }
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr) ;    
  grid-template-rows: repeat(2, 200px);
  grid-gap: 5px;

}
.item {
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}
.item:nth-of-type(1) {
  /* background: blue;
  grid-column-start: 1;
  grid-column-end: 3; */
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}
.item:nth-of-type(2) {
    /* background: red;
    /* grid-column: 1 / span 2; */
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
}

.item:nth-of-type(3) {
  /* background: red;
  /* grid-column: 1 / span 2; */
  grid-column: 6 / span 2;
}