body {
    font-family: Arial;
  }
.container {
  height: 100vh;
  display: grid;
  grid-template: 100px 1fr 30% / 200px 1fr;    
  grid-gap: 10px;
  grid-template-areas:  "header header" 
                        "left contenido" 
                        "footer footer";

}
.item {
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}
.item:nth-of-type(4) {
  background: blue;
  display: grid;
  grid-template: 50px 50px 50px / 200px 200px 200px;
}
.item .item {
  background: yellow;
}

.header{
  grid-area: header;
}
.left {
  grid-area: left;
}

.contenido {
  grid-area: contenido;
}

.footer {
 grid-area: footer;
}