body {
    font-family: Arial;
    margin: 0;
    padding: 0;
  }
.container {
  display: grid;
  grid-template-columns: [inicio] 1fr [columna2] 1fr[columna3] 1fr [destacado-end] 1fr [columna5] 1fr [destacado2-end] 1fr [columna7] 1fr [final];    
  grid-template-rows: [inicio] 200px [fila2] 200px [final];
  grid-gap: 5px;
  height: 100vh;
  /* grid-auto-flow: row; */
  /* grid-auto-flow: column; */
  overflow: auto;
  /* grid-auto-columns: 50px 100px; */
  /* grid-auto-rows: 50px 100px; */

}
.item {
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}
.item:nth-of-type(1) {
  /* background: blue;
  grid-column-start: 1;
  grid-column-end: 3; */
  /* grid-column: 1 / span 3;
  grid-row: 1 / span 2; */
  grid-column: inicio / destacado-end;
  grid-row: inicio / final;
}
.item:nth-of-type(2) {
  /* background: red;
  /* grid-column: 1 / span 2; */
  /* grid-column: 4 / span 2;
  grid-row: 1 / span 2; */
  grid-column: destacado-end / destacado2-end;
  grid-row: inicio / final;
}

.item:nth-of-type(3) {
  /* background: red;
  /* grid-column: 1 / span 2; */
  /* grid-column: 6 / span 2; */
  grid-column: destacado2-end / final;
}