body {
    font-family: Arial;
  }
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;    
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;

}
.item {
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}
.item:nth-of-type(1) {
  background: blue;
  grid-column-start: 1;
  grid-column-end: 3;
}
.item:nth-of-type(8) {
    background: red;
    /* grid-column: 1 / span 2; */
    grid-column: 1 / -1
}
.item:nth-of-type(7) {
    background: black;
    grid-column: 2 / 4;
    color: white;
}