body {
    font-family: Arial;
    margin: 0;
    padding: 0;
  }
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);    
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
  height: 100vh;
  /* justify-items: start end center stretch (default: stretch); */
  justify-items:center;
  /* align-items: start end center stretch (default: stretch); */
  align-items:center;
}
.item {
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}
.item:nth-of-type(5) {
  align-self: start;
  justify-self: start;
}
