body {
    font-family: Arial;
    margin: 0;
    padding: 0;
  }
.container {
  display: grid;
  grid-template-columns: repeat(3, 200px);    
  grid-template-rows: repeat(4, 100px);
  grid-gap: 5px;
  height: 100vh;
  /* justify-content: start end center stretch space-around space-between space-evenly; */
  justify-content: center;
  /* align-content: start end center stretch space-around space-between space-evenly;  */
  align-content:center;
}
.item {
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}
.item:nth-of-type(5) {
}
