body{
    margin: 0;
    font-family: "freight-sans-pro";
    font-size: 18px;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: repeat(10, 90px);
    grid-gap: 8px;
    justify-content: center;
}
.item {
    border-radius: 5px;
    padding: 10px;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
}
.item img {
    width: 100%;
    align-self: center;
    
}

.level-1{
    grid-row-end: span 4; 
}
.level-2{
    grid-row-end: span 3; 
}
.level-3{
    grid-row-end: span 4; 
}
