body {
    font-family: Arial;
  }
  .container {
    display: grid;
    /*grid-template-columns: 25% 200px 25%;*/
    /*grid-template-rows: 300px 150px;*/
    /*grid-template: filas / columnas ;*/
    /*grid-template: 300px 100px 100px / 50% 200px 100px;*/  
 
    /* fr: unidad de medida de fracciones */  
    /*grid-template: 300px 100px 100px / 1fr 1fr 1fr;*/
 
    /* funciones de CSS - repeat() */ 
    /* grid-template: 300px 100px 100px / repeat(4, 1fr);     */

    /* Funcion para que tenga un mínimo de ancho y un maximo. 
    Podemos combinarlas con fr para una columna en particular */
    /* grid-template: 300px 100px 100px / repeat(4, minmax(200px, 1fr)); */
    grid-template: 300px 100px 100px / minmax(200px, 1fr) 1fr 1fr 1fr;    
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    /*grid-gap: filas columnas;*/
    grid-gap: 10px 20px;
  }
  .item {
    background: lightblue;
    padding: 10px;
    border: 1px solid red;
    /*margin-right: 10px;*/
    /*margin-bottom: 10px;*/
  }
  .item:nth-of-type(4) {
    background: blue;
    overflow: auto;
    /*display: subgrid;*/
    /*display: inline-grid;*/
    display: grid;
    grid-template: 50px 50px 50px / 200px 200px 200px;
  }
  .item .item {
    background: yellow;
  }