/* --------------------------- Basic Styles --------------------------- */

body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
    width: 16px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3); 
    border-radius: 7px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 8px rgba(255,255,250,0.5); 
}


/* --------------------------- Container Styles --------------------------- */

.spotify-container {
	display: grid;
	grid-template-columns: 250px 1fr 300px;
	grid-template-rows: 88vh 12vh;
	grid-template-areas: "sidebar-left main sidebar-right"
						 "play-footer play-footer play-footer"
}


/* --------------------------- Sidebar left Styles --------------------------- */

.sidebar-left {
	grid-area: sidebar-left;
	display:grid;
	grid-template-rows: 1fr 100px;
	background: rgba(0, 0 , 0, 0.9);
}

.fa-plus-circle{
	align-self: center;
	margin-right: 10px;
	font-size: 30px;
}

.nav {
	display: grid;
	grid-auto-rows: auto ;
	overflow-y: auto;
	grid-gap: 5px;
	color:#ffffff;
}

.nav a{
	height: 30px;
	font-size: 16px;
	padding-left: 20px;
	color:#ffffff;
	text-decoration: none;
	letter-spacing: 30%;
	font-weight: normal;
}

.nav a:hover,
.nav a:active{
	font-weight: bold;
	color:#ffffff;
	cursor: pointer;
}

.nav a:first-child{
	padding-top: 20px;
	font-size: 5px;
	font-weight: normal;
	letter-spacing: 5px;
}

.nav-link{
	height: 30px;
	font-size: 16px;
	padding-left: 20px;
	color:#ffffff;
	text-decoration: none;
	font-weight: lighter;
	margin-bottom: 0;
}

.bottom-item {
	border-top: .01em solid #ffffff;
	color:#ffffff;
	text-decoration: none;
	font-weight: lighter;
	margin-bottom: 0;
	font-size: 20px;
	display: inline-flex;
	justify-content: center;
}

.bottom-item:hover {
	cursor: pointer;
	color:#ffffff;
}

.bottom-item p{
	align-self: center;
}


/* --------------------------- Sidebar right Styles --------------------------- */

.sidebar-right {
	grid-area: sidebar-right;
	display: grid;
	grid-auto-rows: auto;
	overflow-y: auto;
	background: rgba(0, 0 , 0, 0.9);
	align-content: grid-start;
	justify-items: center;
	color:#ffffff;
}

.sidebar-right a{
	color:#ffffff;
	text-decoration: none;
	font-weight: normal;
}

.sidebar-right a:first-child{
	padding-top: 20px;
}

.friend-item {
	height: 50px;
}


/* --------------------------- Main Styles --------------------------- */

.main {
	color:#ffffff;
	padding: 15px;
	grid-area: main;
	display: grid;
	grid-template-rows: 60px 300px 1fr;
	overflow-y: auto;
	background:linear-gradient(#404040, #262626 20%, #262626 50%);
	/* background: linear-gradient(to bottom, rgba(86,86,86,1)  0%,  rgba(60,60,60,1) 30%, rgba(50,50,60,1) 100%); */
}


/* --------------------------- Header Main Styles --------------------------- */

.header-main{
	height: 60px;
}

.navigation{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

button{
	background: none;
	border: none;
	color: white;
	height: 50px;
	font-size:16px;
}

.navigation button.back,
.navigation button.forward {
    text-align: left;
    padding: 0;
}

.search-bar{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 250px;
	grid-template-rows: 50px; 
	padding: 0;
	align-items: center;
}

.search input{
	border-radius: 13px;
	border: none;
	height: 20px;
	padding: 3px 10px;
}

.profile{
	display: inline-flex;
	justify-content: space-around;
	grid-column-start: 12;
	font-size: 14px;
	padding: 10px;
	align-items: center;
}

.avatar{
	margin: 0;
}

.avatar img{
	width: 30px;
	border-radius: 50%;
}


/* --------------------------- Hero Main Styles --------------------------- */

.hero-main{
	padding-top: 30px;
	display: grid;
	grid-template-rows: 70px 70px 70px;
}

.hero-main h1{
	font-size: 45px;
	margin: 0;
}

.hero-nav{
	display: flex;
	align-items: center;
	font-size: 16px;
}

.hero-nav-ul{
	display: flex;
	align-items: left;
	justify-content: left;
	padding: 0;
	margin: 0;
}

.hero-nav-li{
	display: inline-block;
	list-style: none;
	margin-right: 30px;
}

.hero-hello{
	display: grid;
	grid-template-columns: 1fr 30px 30px;
	justify-content: space-between;
}


/* --------------------------- Player Styles --------------------------- */

.play-footer {
	grid-area: play-footer;
	display: grid;
	grid-template-columns: 300px 1fr 300px;
	background: #363636;
	color:#ffffff;
	align-content: center;
	justify-items: center;
}

